<style>
	.dropdown.open .dropdown-menu.animated {
		-webkit-animation-name: {{getLayoutOption('dropdownTransitionStyle')}};
		animation-name: {{getLayoutOption('dropdownTransitionStyle')}};
		-webkit-animation-duration: .5s;
		animation-duration: .5s;
	}
	.dropdown-menu.animated {
		-webkit-animation-name: none;
		animation-name: none;
	}

	.mainview-animation.animated.ng-enter {
		-webkit-animation-name: {{getLayoutOption('pageTransitionStyle')}};
		animation-name: {{getLayoutOption('pageTransitionStyle')}};
	}
	.botonFocus{
	border-color: #1B1F19 !important;
    border-width: 4px;
	}
	.facturaFocus{
	border-style: solid !important; 
    border-color: #1B1F19 !important;
    border-width: 4px;
	}
	
</style>