<div ng-controller="ConsultaFacturaController">

	<div class="container-fluid" style="margin-top:15px">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<panel data-heading="Factura" panel-class="panel-midnightblue">
				<div class="panel panel-midnightblue">
					<div class="panel-heading" style="background-color: #0B0D0E;">
						<h2 class="ng-binding">
							<!-- ngIf: panelIcon -->
							Busqueda de Facturas
						</h2>
					</div>
					<div class="panel-body" style="height: 505px;">
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel panel-primary ng-scope">
							<div class="panel-body">

								<div tabindex="-1" ag-grid="gridOptionsFacturas"
									id="facturaGrid" class="ag-fresh"
									style="height: 400px; margin-top: 24px;"></div>

							</div>
						</div>
					</div>
				</div>
				</panel>
			</div>
			<!-- CLIENTE -->
			<div class="col-xs-12 col-md-4">
				<panel data-heading="Totales" panel-class="panel-midnightblue"
					class="ng-isolate-scope">
				<div class="panel  panel-midnightblue">
					<div class="panel-heading">
						<h2 class="ng-binding">Filtros de busqueda</h2>
					</div>
					<div class="panel-body" ng-transclude="" style="width: 99%;">
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel  panel-primary ng-scope">
							<div class="panel-body" style="width: 99%;">
								<div class="row">
									<div class="col-md-10" style="margin-left: 25px;">
										<div class="form-horizontal row-border ng-scope">
											<div class="form-group">
												<div class="form-group">
													<span class="col-md-3"> <strong>Codigo
															Factura:</strong>
													</span>
													<div class="col-md-7">
														<input tabindex="2" type="text" class="form-control"
															id="busquedaProd" placeholder="Busqueda..."
															ng-keypress="onBusquedaFactura($event);"
															ng-model="facturaBusquedaCodigo" autofocus>
													</div>
													<div class="col-md-2">
															<button  tabindex="-1" type="button" class="btn btn-block btn-primary"
																ng-click="externalFilterChanged()">
																<i class="fa fa-search"></i>
															</button>
													</div>
												</div>

												<div class="row">
													<span class="col-md-3"> <strong>Nro
															Factura:</strong>
													</span>
													<div class="col-md-9">
														<input ng-class="{botonFocus: focusedBusquedaFact}"
															ng-init="focusedBusquedaFact = false"
															ng-focus="focusedBusquedaFact = true"
															ng-blur="focusedBusquedaFact = false" tabindex="2"
															type="text" class="form-control" id="busquedaFact"
															placeholder="Busqueda..."
															ng-keypress="onBusquedaFactura($event);"
															ng-model="facturaBusquedaFact" autofocus>
													</div>
												</div>
												<div class="form-group">
													<span class="col-md-3"> <strong>Fecha mayor a:</strong>
													</span>
													<div class="col-md-9">
														<input ng-class="{botonFocus: focusedBusquedaFechaMay}"
															ng-init="focusedBusquedaFechaMay = false"
															ng-focus="focusedBusquedaFechaMay = true"
															ng-blur="focusedBusquedaFechaMay = false" tabindex="3"
															type="date" class="form-control" id="busquedaFechaMay" date-parser="short" 
															placeholder="Busqueda..."
															ng-keypress="onBusquedaFactura($event);"
															ng-model="facturaBusquedaFechaMay" autofocus>
													</div>

												</div>
												<div class="row">
													<span class="col-md-3"> <strong>Fecha menor a:</strong>
													</span>
													<div class="col-md-9">
														<input ng-class="{botonFocus: focusedBusquedaFechaMen}"
															ng-init="focusedBusquedaFechaMen = false"
															ng-focus="focusedBusquedaFechaMen = true"
															ng-blur="focusedBusquedaFechaMen = false" tabindex="4"
															type="date" class="form-control" id="busquedaFechaMen" date-parser="short" 
															placeholder="Busqueda..."
															ng-keypress="onBusquedaFactura($event);"
															ng-model="facturaBusquedaFechaMen" autofocus>
													</div>

												</div>

											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</panel>
			</div>

		</div>
	</div>
	<script type="text/ng-template" id="modalFacturaVer.html">
	<div class="modal-dialog modal-lg" role="document" style="width: 1200px; margin: 0px -150px;">
		<div class="modal-content" style:"style="background-color: rgb(152,197,247);">
			<div class="modal-header" style="background-color: rgb(59,145, 240);">
				<h4 class="modal-title" style="margin-left:20px;font-size:20px;color:#EBEEF1;" id="myModalLabel">{{viewTipoFactura}}	</h4>
			</div>
			<div class="col-xs-12 col-md-12" style="background-color: rgb(152,197,247);">
				<div class="container-fluid" style="background-color: rgb(152,197,247); margin-top:15px;">

					<!-- FACTURA -->
					<div class="col-xs-12 col-md-8" style="min-height: 500px; background-color: rgb(152,197,247);">
						<panel data-heading="Factura" panel-class="panel-midnightblue">
						<div class="panel  panel-midnightblue">
							<div class="panel-body" style="height:505px;">
								<panel-controls class="ng-scope"> </panel-controls>
								<div class="panel  panel-primary ng-scope">
									<div class="panel-body" >
										<div class="row">
											<div class="col-xs-2" style="margin: 10px;">
												<a class="info-tiles tiles-midnightblue"
													data="{ title: 'Iva Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}">
													<div class="tiles-heading">
														<div class="text-center ng-binding">Factura</div>
													</div>
													<div class="tiles-body">
														<div class="text-center ng-binding" style="margin: 0px 0px 0px;">{{viewLetra}}</div>
													</div>
												</a>
												<div class="pull-right text-center" style="margin-top:-30px;">
													<span class="badge ng-binding" style="width: 108px;">{{viewNumeroFactura}}</span>
												</div>
											</div>

											<div class="col-md-8">
												<div class="form-horizontal row-border ng-scope">
													<div class="form-group" style="margin-top:20px;">
														<div class="row">
															<label for="#" class="col-md-3 control-label" > <strong>Tipo de Documento:</strong>
															</label>
															<div class="col-md-9" style="margin: 3px 0px 5px 0px;">
																Factura
															</div>
														</div>
	
														<div class="row">
															<label for="#" class="col-md-3 control-label" > <strong>Fecha:</strong>
															</label>
															<div class="col-md-9" style="margin: 3px 0px 5px 0px;">
																{{viewFechaFactura}}
															</div>
														</div>
														<div class="row">
															<label for="#" class="col-md-3 control-label" > <strong>Notas:</strong>
															</label>
															<div class="col-sm-9" style="margin: 3px 0px 5px 0px;">
																{{viewDescripcion}}
															</div>
														</div>
													</div>
												</div>

											</div>
											<div class="col-md-4"></div>
										</div>

										<div class="table-responsive ng-scope">
											<hr style="margin-top:1px;">
											<table st-table="viewLineasProductos" class="table" style="    margin-top: 20px;   ">
												<thead>
													<tr>
														<th>Codigo</th>
					
														<th>Articulo</th>
														<th>Qt</th>
														<th>Precio</th>
														<th>Precio Final</th>
														<th>Total Linea</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="row in viewLineasProductos">
														<td align="left">{{row.cc1}}-{{row.cc2}}-{{row.cc3}}-{{row.cc4}}-{{row.cc5}}</td>
														<td>{{row.articulo}}</td>
														<td>{{row.cantidad}}</td>
														<td style="text-align:right;">$ {{row.precio}}</td>
														<td style="text-align:right;">$ {{row.precioFinal}}</td>
														<td style="text-align:right;">$ {{row.totalLinea}}</td>
													</tr>

												</tbody>
												<caption style="margin-left: 40%; margin-top: -15px; font-size: 14px;">Articulos seleccionados</caption>
											</table>
										</div>
										
										
									</div>
								</div>
							</div>
						</div>
						</panel>
					</div>
					<div class="col-xs-12 col-md-4" style="background-color: rgb(152,197,247);">
						<panel data-heading="Totales" panel-class="panel-midnightblue"
							class="ng-isolate-scope">
						<div class="panel  panel-midnightblue">
							<div class="panel-heading">
								<h2 class="ng-binding">
									<!-- ngIf: panelIcon -->
									Cliente
								</h2>
							</div>
							<div class="panel-body" ng-transclude="" style="width:99%">
								<panel-controls class="ng-scope"> </panel-controls>
								<div class="panel  panel-primary ng-scope">
									<div class="panel-body"   style="margin-left: 10px; width:99%;">
										<div class="row">
											<form action="" class="form-horizontal row-border2">
												<div class="form-group  col-md-6">
													<label class="col-md-4 control-label"> <strong>Cliente:</strong></label>
													<div class="col-md-7" style="margin-top: 3px ;">
														{{viewClienteNombre}}
													</div>
												</div>
												<div class="form-group col-md-5">
													<label class="col-md-4 control-label" > <strong>CUIT:</strong>
													</label>
													<div class="col-md-8" style="margin-top: 3px ;">
														<span class="label label-default form-control">{{viewClienteCuit}}</span>
													</div>
												</div>
												<div class="form-group col-md-7">
													<label class="col-md-4 control-label"> <strong>Categoria:</strong>
													</label>
													<div class="col-md-8" style="margin-top: 3px ;">
														<span class="label label-default form-control">{{viewClienteCategoria}}</span>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						</panel>
					</div>


					<div class="col-xs-12 col-md-4"  style="background-color:rgb(152,197,247);">
						<panel data-heading="Totales" panel-class="panel-midnightblue"
							class="ng-isolate-scope">
							
						<div class="panel  panel-midnightblue">
							<div class="panel-heading">
							</div>

							<!-- 					<div class="panel-heading"> -->
							<!-- 						<h2 class="ng-binding"> -->
							<!-- 							ngIf: panelIcon -->
							<!-- 							Totales -->
							<!-- 						</h2> -->
							<!-- 					</div> -->
							<div class="panel-body" ng-transclude="" style="width:99%">
								<div class="col-xs-6">
									<a class="info-tiles tiles-green"
										data="{ title: 'Sub Total',text: '6', color: 'midnightblue'}">
										<div class="tiles-heading">
											<div class="text-center ng-binding">Sub Total</div>
										</div>
										<div class="tiles-body" style="font-size: 12px;">
											<div class="text-center ng-binding">$ {{viewSubTotal}}</div>
										</div>
									</a>
								</div>

								<div class="col-xs-6">
									<a class="info-tiles tiles-primary"
										data="{ title: 'Total', href: '#/ui-tiles',text: '9', color: 'danger'}">
										<div class="tiles-heading">
											<div class="text-center ng-binding">Total</div>
										</div>
										<div class="tiles-body" style="font-size: 12px;">
											<div class="text-center ng-binding">$ {{viewTotalFact}}</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						</panel>
					</div>

					<div class="col-xs-12 col-md-4"  style="background-color:rgb(152,197,247);">
						<panel data-heading="Totales" panel-class="panel-midnightblue"
							class="ng-isolate-scope">
						<div class="panel  panel-midnightblue">
							<div class="panel-heading">
								<h2 class="ng-binding">Forma de Pago</h2>
							</div>
							<div class="panel-body" ng-transclude="" style="width:99%">
								<panel-controls class="ng-scope"> </panel-controls>
								<div class="panel  panel-primary ng-scope" style="padding: 10px;">
									<div class="panel-body">
										<div class="row">
											<form action="" class="form-horizontal row-border2">
												<div class="form-group  col-md-12">
													<label class="col-sm-3 control-label"><strong>Efectivo</strong></label>
													<div class="col-sm-8">
														<span class="input-group-addon">$ {{viewMontoEfectivo}}</span>
														 
													</div>
												</div>
												<div class="form-group col-md-12">
													<label class="col-sm-3 control-label"><strong>Cupon</strong></label>
													<div class="col-sm-8">
														<span class="input-group-addon">{{viewTarjetaCupon}}</span>
														
													</div>
												</div>		
												<div class="form-group col-md-12">
													<label class="col-sm-3 control-label"><strong>Monto TC</strong></label>
													<div class="col-sm-8">
														<span class="input-group-addon">$ {{viewTarjetaMonto}}</span>
														
													</div>
												</div>
												<div class="form-group  col-md-12">
													<label class="col-sm-3 control-label"><strong>Tarjeta</strong></label>
													<div class="col-sm-8">
														<span class="input-group-addon">{{viewTarjetaNombre}}</span>
														
													</div>
												</div>
												<div class="form-group col-md-12">
													<label class="col-sm-3 control-label"><strong>Cuotas</strong></label>
													<div class="col-sm-8">
														<span class="input-group-addon">{{viewTarjetaCuotas}}</span>
														
													</div>
												</div>
												<div class="form-group  col-md-6">
													<label class="col-sm-4 control-label"><strong>Recargo</strong></label>
													<div class="col-sm-8">
														<span class="input-group-addon">{{viewTarjetaRecargo}} </span>
														
													</div>
												</div>
												<div class="form-group col-md-6">
													<label class="col-sm-5 control-label"><strong>Monto TC</strong></label>
													<div class="col-sm-7">
															<span class="input-group-addon">$ {{tarjetaMontoInteres}}</span>
													</div>
												</div>
												
												<div class="form-group  col-md-6">
													<label class="col-sm-4 control-label"><strong>Nombre</strong></label>
													<div class="col-sm-8">
														<span class="input-group-addon">{{nombreCliente}} </span>
														
													</div>
												</div>
												<div class="form-group col-md-6">
													<label class="col-sm-4 control-label"><strong>DNI</strong></label>
													<div class="col-sm-8">
															<span class="input-group-addon"> {{documentoCliente}}</span>
													</div>
												</div>

											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						</panel>
					</div>









				</div>
			</div>
			<div class="modal-footer" style="background-color: rgb(152,197,247);"></div>
		</div>
	</div>
		</script>
</div>