
<div ng-controller="FacturaController">


	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<panel data-heading="Factura" panel-class="panel-midnightblue">
				<div class="panel  panel-midnightblue">
					<div class="panel-heading">

					</div>
					<div class="panel-body">
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel  panel-primary ng-scope">
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-sm-2 control-label">Tipo de Documento</label>
										<div class="col-sm-10">
											<div class="input-group col-md-10">
												<select class="ng-binding">
													<option><h2 class="ng-binding">Factura</h2>
													</option>
												</select>
											</div>
										</div>
									</div>	
									<div class="col-xs-2">
										<a class="info-tiles tiles-midnightblue"
											data="{ title: 'Iva Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}">
											<div class="tiles-heading">
												<div class="text-center ng-binding">Factura</div>
											</div>
											<div class="tiles-body">
												<div class="text-center ng-binding">{{tipoFactura}}</div>
											</div>
										</a>
<!--									<div class="pull-right text-center">
											<span class="badge ng-binding">{{numeroFactura}}</span>
										</div>-->
									</div>

									<div class="col-md-8">
										<div class="form-horizontal row-border ng-scope">
											<div class="form-group">
												<div class="row">
													<label for="#" class="col-md-2 control-label"
														style="text-align: left !important;"> <strong>Fecha:</strong>
													</label>
													<div class="col-md-10">
														<div class="input-group">{{fechaFactura |
															date:'dd-MM-yyyy'}}</div>
													</div>
												</div>
												<div class="row">
													<span class="col-md-2"> <strong>Notas:</strong>
													</span>
													<div class="col-sm-10">
														<textarea tabindex="1" class="form-control"
															ng-model="facturaNotas"
															ng-class="{botonFocus: focusedNotas}"
															ng-init="focusedNotas = false"
															ng-focus="focusedNotas = true"
															ng-blur="focusedNotas = false"></textarea>
													</div>
												</div>
												<div class="row" style="margin-top: 5px;">
													<span class="col-md-2"> <strong>Producto:</strong>
													</span>
													<div class="col-md-10">
														<input ng-class="{botonFocus: focusedBusqueda}"
															ng-init="focusedBusqueda = false"
															ng-focus="focusedBusqueda = true"
															ng-blur="focusedBusqueda = false" tabindex="2"
															type="text" class="form-control" id="busquedaProd"
															placeholder="Busqueda..."
															ng-keypress="onKeyArticulo($event);"
															ng-model="articuloSeleccionadoBuscar" autofocus>
													</div>

												</div>
											</div>
										</div>

									</div>
									<div class="col-md-4"></div>
								</div>
								<div tabindex="-1" ng-focus="pruebaFocusFactura()"
									ag-grid="gridOptionsFactura" id="facturaGrid" class="ag-fresh"
									style="height: 400px; margin-top: 24px;"></div>

							</div>
						</div>
					</div>
				</div>
				</panel>
			</div>
			<!-- CLIENTE -->
			<div class="col-xs-12 col-md-4">
				<panel data-heading="Totales" panel-class="panel-midnightblue"
					class="ng-isolate-scope">
				<div class="panel  panel-midnightblue">
					<div class="panel-heading">
						<h2 class="ng-binding">
							<!-- ngIf: panelIcon -->
							Cliente
						</h2>
					</div>
					<div class="panel-body" ng-transclude="">
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel  panel-primary ng-scope">
							<div class="panel-body">
								<div class="row">
									<form action="" class="form-horizontal row-border2">
										<div class="form-group">
											<label class="col-md-2 control-label"> <strong>Cliente:</strong>
											</label>
											<div class="col-md-7">
												<input type="text" class="form-control" tabindex="3"
													placeholder="" ng-keypress=onKeyCliente($event)
													ng-model="clienteSeleccionadoRazon" id="busquedaCliente"
													ng-focus="clienteFocus()">
											</div>
											<div class="col-md-2">
												<button type="button" class="btn btn-block btn-primary"
													data-toggle="modal" data-target="#myModal" tabindex="-1">
													<i class="fa fa-search"></i>
												</button>
											</div>
										</div>
										<div class="form-group col-md-6">
											<label class="col-md-4 control-label"> <strong>Cuit:</strong>
											</label>
											<div class="col-md-8">
												<span class="label label-default form-control">{{clienteSeleccionadoCuit}}</span>
											</div>
										</div>
										<div class="form-group col-md-6">
											<label class="col-md-4 control-label"> <strong>Categoria:</strong>
											</label>
											<div class="col-md-8">
												<span class="label label-default control-label">{{clienteSeleccionadoCategoria}}</span>
											</div>
										</div>
<!--
										<div class="form-group col-md-10">
														<div class="col-sm-6">
															<div class="input-group">
															  <span class="input-group-addon">
																<div class="icheckbox_minimal-blue checked" style="position: relative;">
																	<input icheck="" type="checkbox" style="position: absolute; opacity: 0;" ng-model="chkConsumidorFinal"
																		tabindex="-1" ng-change="seleccionConsumidorFinal()" />
																		<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
															  </span>
															  <label class="form-control control-label">Consumidor Final</label>
															</div>
														</div>
										</div>	-->									
										
										
										<div class="form-group  col-md-10" style="margin-left: -50px;">
											<label for="checkbox" class="col-sm-1 control-label"></label>
											<div class="col-sm-10">
												<div class="block">
													<label class="checkbox-inline"> <input style="    width: 100%;    height: 100%;    margin: -4px 0 0;"
														type="checkbox" ng-model="chkConsumidorFinal"
														tabindex="4" ng-change="seleccionConsumidorFinal()"><strong>Consumidor Final</strong></input>
													</label>
												</div>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				</panel>
			</div>


			<div class="col-xs-12 col-md-4">
				<panel data-heading="Totales" panel-class="panel-midnightblue"
					class="ng-isolate-scope">
				<div class="panel  panel-midnightblue">
					<div class="panel-heading">
						<h2 class="ng-binding">Forma de Pago</h2>
					</div>
					<div class="panel-body" ng-transclude="">
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel  panel-primary ng-scope">
							<div class="panel-body">
								<div class="row">
									<form action="" class="form-horizontal row-border2">
										<!--<div class="form-group col-md-5"  >
											<label class="col-sm-4 control-label">Efectivo</label>
											<div class="col-sm-4">
												<div class="input-group">
													<span class="input-group-addon">$</span> <input
														tabindex="3" type="number" ng-disabled="subTotal==0"
														maxlength="10"
														class="form-control" ng-model="montoEfectivo"
														ng-change="changeEfectivo()"
														ng-class="{botonFocus: focusedEfectivo}"
														ng-init="focusedEfectivo = false"
														ng-focus="focusedEfectivo = true"
														ng-blur="focusedEfectivo = false" min="0" ng-min="0" />
												</div>
											</div>
										</div>-->
										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label"><strong>Efectivo</strong></label>
											<div class="col-sm-8">
												<div class="input-group">
													<span class="input-group-addon"><strong>$</strong></span> <input
														tabindex="5" type="number" ng-disabled="subTotal==0"
														maxlength="10"
														class="form-control" ng-model="montoEfectivo"
														ng-change="changeEfectivo()"
														ng-class="{botonFocus: focusedEfectivo}"
														ng-init="focusedEfectivo = false"
														ng-focus="focusedEfectivo = true"
														ng-blur="focusedEfectivo = false" min="0" ng-min="0" />
												</div>
											</div>
										</div>										

										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label"><strong>Cupon</strong></label>
											<div class="col-sm-8">
												<div class="input-group">
													<input ng-class="{botonFocus: focusedCupon}"
														ng-init="focusedCupon = false"
														ng-focus="focusedCupon = true"
														ng-blur="focusedCupon = false" 
														tabindex="8" type="text" maxlength="19"
														class="form-control" ng-model="cuponTC">
												</div>
											</div>
										</div>										
										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label"><strong>Monto TC</strong></label>
											<div class="col-sm-8">
												<div class="input-group">
													<span class="input-group-addon"><strong>$</strong></span> <input type="text" 
														disabled=true class="form-control" ng-model="montoTC">
												</div>
											</div>
										</div>
										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label"></label>
											<div class="col-sm-8">
												<div class="input-group">
												</div>
											</div>
										</div>										
										
										<div class="form-group col-md-12">
											<label class="col-sm-2 control-label"><strong>Tarjeta</strong></label>
											<div class="col-sm-10">
												<div class="input-group col-md-10">
													<select  tabindex="6" class="form-control" 
															 id="source" ng-class="{botonFocus: focusedTarjeta}" 
															 ng-init="focusedTarjeta = false" ng-focus="focusedTarjeta = true" 
															 ng-blur="focusedTarjeta = false" ng-model="selectTarjetaCredito"  
															 ng-change="obtenerCuotasTarjeta()" ng-disabled="!montoTC>0" 
															 ng-options="item as item.nombre for item in tarjetasList " >
													</select> 
												</div>
											</div>
										</div>													
										<div class="form-group col-md-12">
											<label class="col-sm-2 control-label"><strong>Cuotas</strong></label>
											<div class="col-sm-10">
												<div class="input-group col-md-10">
													<select ng-class="{botonFocus: focusedCuotas}"
														ng-init="focusedCuotas = false"
														ng-focus="focusedCuotas = true"
														ng-blur="focusedCuotas = false" tabindex="7"
														ng-disabled="selectTarjetaCredito==0 || selectTarjetaCredito==undefined || !montoTC>0"
														ng-model="cuotaSeleccionada"
														ng-init="cuotaSeleccionada = cuotas[1]"
														ng-change="cuotaChange()" class="form-control"
														ng-options="cuota.descripcion  for cuota in cuotas track by cuota.coeficiente"></select>
												</div>
											</div>
										</div>	
										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label"><strong>Recargo</strong></label>
											<div class="col-sm-8">
												<div class="input-group">
													<span class="input-group-addon">{{recargoTC}}</span>
												</div>
											</div>
										</div>										
										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label"><strong>Interes</strong></label>
											<div class="col-sm-8">
												<div class="input-group">
													<span class="input-group-addon">{{interesTC}}</span>
												</div>
											</div>
										</div>		




									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				</panel>
			</div>




			<div class="col-xs-12 col-md-4">
				<panel data-heading="Totales" panel-class="panel-midnightblue"
					class="ng-isolate-scope">
				<div class="panel  panel-midnightblue">
					<!-- 					<div class="panel-heading"> -->
					<!-- 						<h2 class="ng-binding"> -->
					<!-- 							ngIf: panelIcon -->
					<!-- 							Totales -->
					<!-- 						</h2> -->
					<!-- 					</div> -->
					<div class="panel-body" ng-transclude="">
						<div class="col-xs-3">
							<a class="info-tiles tiles-green"
								data="{ title: 'Sub Total',text: '6', color: 'midnightblue'}">
								<div class="tiles-heading">
									<div class="text-center ng-binding">Sub Total</div>
								</div>
								<div class="tiles-body" style="font-size: 12px;">
									<div class="text-center ng-binding">$ {{subTotal}}</div>
								</div>
							</a>
						</div>

						<div class="col-xs-5">
							<a class="info-tiles tiles-green"
								data="{ title: 'Iva Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}">
								<div class="tiles-heading">
									<div class="text-center ng-binding">Iva ({{ivaInscripto}}%)</div>
								</div>
								<div class="tiles-body" style="font-size: 12px;">
									<div class="text-center ng-binding">$ {{ivaInscriptoTotal}} </div>
								</div>
							</a>
						</div>

<!--						<div class="col-xs-3">
							<a class="info-tiles tiles-green"
								data="{ title: 'Iva No Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}">
								<div class="tiles-heading">
									<div class="text-center ng-binding">Iva No Inscripto</div>
								</div>
								<div class="tiles-body" style="font-size: 12px;">
									<div class="text-center ng-binding">{{ivaNoInscripto}} %</div>
								</div>
							</a>
						</div>
-->
						<div class="col-xs-4">
							<a class="info-tiles tiles-primary"
								data="{ title: 'Total', href: '#/ui-tiles',text: '9', color: 'danger'}">
								<div class="tiles-heading">
									<div class="text-center ng-binding">Total</div>
								</div>
								<div class="tiles-body" style="font-size: 12px;">
									<div class="text-center ng-binding">$ {{TotalFact}}</div>
								</div>
							</a>
						</div>


						<!-- 						<panel-controls class="ng-scope"> </panel-controls> -->
						<!-- 						<div class="panel  panel-primary ng-scope"> -->
						<!-- 							<div class="panel-body"> -->
						<!-- 								<div class="row"> -->
						<!-- 									<form action="" -->
						<!-- 										class="form-horizontal row-border2 ng-pristine ng-valid"> -->

						<!-- 										<div class="col-xs-3"> -->
						<!-- 											<a class="info-tiles tiles-green" -->
						<!-- 												data="{ title: 'Sub Total',text: '6', color: 'midnightblue'}"> -->
						<!-- 												<div class="tiles-heading"> -->
						<!-- 													<div class="text-center ng-binding">Sub Total</div> -->
						<!-- 												</div> -->
						<!-- 												<div class="tiles-body" style="font-size: 12px;"> -->
						<!-- 													<div class="text-center ng-binding">$ {{subTotal}}</div> -->
						<!-- 												</div> -->
						<!-- 											</a> -->
						<!-- 										</div> -->

						<!-- 										<div class="col-xs-3"> -->
						<!-- 											<a class="info-tiles tiles-green" -->
						<!-- 												data="{ title: 'Iva Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}"> -->
						<!-- 												<div class="tiles-heading"> -->
						<!-- 													<div class="text-center ng-binding">Iva Inscripto</div> -->
						<!-- 												</div> -->
						<!-- 												<div class="tiles-body" style="font-size: 12px;"> -->
						<!-- 													<div class="text-center ng-binding">{{ivaInscriptoTotal}} -->
						<!-- 														%</div> -->
						<!-- 												</div> -->
						<!-- 											</a> -->
						<!-- 										</div> -->

						<!-- 										<div class="col-xs-3"> -->
						<!-- 											<a class="info-tiles tiles-green" -->
						<!-- 												data="{ title: 'Iva No Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}"> -->
						<!-- 												<div class="tiles-heading"> -->
						<!-- 													<div class="text-center ng-binding">Iva No Inscripto</div> -->
						<!-- 												</div> -->
						<!-- 												<div class="tiles-body" style="font-size: 12px;"> -->
						<!-- 													<div class="text-center ng-binding">{{ivaNoInscripto}}	%</div> -->
						<!-- 												</div> -->
						<!-- 											</a> -->
						<!-- 										</div> -->

						<!-- 										<div class="col-xs-3"> -->
						<!-- 											<a class="info-tiles tiles-primary" -->
						<!-- 												data="{ title: 'Total', href: '#/ui-tiles',text: '9', color: 'danger'}"> -->
						<!-- 												<div class="tiles-heading"> -->
						<!-- 													<div class="text-center ng-binding">Total</div> -->
						<!-- 												</div> -->
						<!-- 												<div class="tiles-body" style="font-size: 12px;"> -->
						<!-- 													<div class="text-center ng-binding">$ {{TotalFact}}</div> -->
						<!-- 												</div> -->
						<!-- 											</a> -->
						<!-- 										</div> -->

						<!-- 									</form> -->
						<!-- 								</div> -->
						<!-- 							</div> -->
						<!-- 						</div> -->
					</div>
					<div class="pull-right">
						<button ng-class="{botonFocus: focused}" ng-init="focused = false"
							ng-focus="focused = true" ng-blur="focused = false" tabindex="8"
							class="btn btn-primary" ng-click="guardarFactura()"
							ng-disabled="estaDeshabilitado()"
							style="margin: 0px 30px 5px 0px !important;">Guardar
							Factura</button>
					</div>
				</div>
				</panel>
			</div>


		</div>
	</div>
	<script type="text/ng-template" id="modalBuscadorCliente.html">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
				
							<h4 class="modal-title" id="myModalLabel">Busqueda de Clientes</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12 col-md-5">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-3 control-label">
													<strong>Codigo:</strong>
												</label>
												<div class="col-md-9">
													<input type="text" class="form-control" placeholder="" ng-model="dataCliente.codigoCliente"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-5">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-3 control-label">
													<strong>Razon Social:</strong>
												</label>
												<div class="col-md-9">
													<input type="text" class="form-control" placeholder="" ng-model="dataCliente.razonSocial"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="row2">
										<!-- <button class="btn btn-block" type="button" ng-click="busquedaCliente()" > -->
										<button class="btn btn-block" type="button" ng-click="busquedaCliente()" >
											<i class="fa fa-search"></i>
											<span class="">Buscar</span>
										</button>
									</div>
								</div>
							</div>
							<div class="row2">


							<div class="row2">
								<div class="table-responsive">
									<div tabindex="0" 
											ag-grid="gridOptionsCliente"
											class="ag-fresh" style="height: 400px; ">
									</div>
								</div>
							</div>

							</div>
						</div>
						<div class="modal-footer">

						</div>
					</div>
				</div>



    	    

	</script>
	<script type="text/ng-template" id="modalBuscadorArticulo.html">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
						
							<h4 class="modal-title" id="myModalLabel">Busqueda de Articulos</h4>
						</div>						
						<div class="col-xs-12 col-md-12">
						  <div class="container-fluid" >
							<div class="row">
								<div class="col-xs-12 col-md-2">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>CC1:</strong>
												</label>
												<div class="col-md-7">
													<input  tabindex="11" type="text" class="form-control" placeholder="codigo" ng-model="data.codigo1"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>CC2:</strong>
												</label>
												<div class="col-md-7">
													<input  tabindex="12" type="text" class="form-control" placeholder="codigo" ng-model="data.codigo2"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>CC3:</strong>
												</label>
												<div class="col-md-7">
													<input  tabindex="13" type="text" class="form-control" placeholder="codigo" ng-model="data.codigo3"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>Articulo:</strong>
												</label>
												<div class="col-md-7">
													<input  tabindex="14" id="busquedaArticulo" type="text" class="form-control" placeholder="" ng-model="data.articulo"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-1">
										<button  tabindex="15" type="button" class="btn btn-block btn-primary"
											ng-click="externalFilterChanged()">
											<i class="fa fa-search"></i>
										</button>
						    	</div>


							</div>
						  </div>
							<div class="row2">
								<div class="table-responsive">
									<div tabindex="0" 
											ag-grid="gridOptionsProductos" id="productoGrid" ng-keypress="onKeySelectArticulo()"
											class="ag-fresh" style="height: 400px; ">
									</div>
								</div>
							</div>
						  
						</div>
						<div class="modal-footer">
							
						</div>
					</div>
				</div>
	</script>
	<script type="text/ng-template" id="modalFacturaGenerada.html">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
						
							<h4 class="modal-title" id="myModalLabel">Factura Generada! {{numeroFactura}}</h4>
						</div>						
						
						<div class="modal-footer">
							
						</div>
					</div>
				</div>
	</script>
</div>