
<div ng-controller="FacturaController">


	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<panel data-heading="Factura" panel-class="panel-midnightblue">
				<div class="panel  panel-midnightblue">
					<div class="panel-heading">

					</div>
					<div class="panel-body">
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel  panel-primary ng-scope">
							<div class="panel-body" style="background-color: #37444e;">
								<div class="row" style="margin-top:20px;">

									<div class="col-xs-2" style="margin-left:10px">
										<a class="info-tiles tiles-midnightblue"
											data="{ title: 'Iva Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}">
											<div class="tiles-heading">
												<div class="text-center ng-binding">Factura</div>
											</div>
											<div class="tiles-body">
												<div class="text-center ng-binding">{{tipoFactura}}</div>
											</div>
										</a>
<!--									<div class="pull-right text-center">
											<span class="badge ng-binding">{{numeroFactura}}</span>
										</div>-->
									</div>

									<div class="col-md-8">
										<div class="form-horizontal row-border ng-scope">
											<div class="form-group">
									
												<div class="row">
													<label for="#" class="col-md-4 control-label"> <strong>Tipo de Documento</strong>
													</label>
													<div class="input-group col-md-8" >
														<select ng-focus="onFocusTipoDocumento()" class="ng-binding form-control" style="margin: 0px 0px 5px 10px; width:70%; border-radius:3px;">
															<option><h2 class="ng-binding">Factura</h2>
															</option>
														</select>
													</div>
												</div>	
											
												<div class="row">
													<label for="#" class="col-md-4 control-label"> <strong>Fecha</strong>
													</label>
													<div class="col-md-8">
														<div class="input-group" style="margin-top:3px; margin-bottom:5px;">{{fechaFactura |
															date:'dd-MM-yyyy'}}</div>
													</div>
												</div>
												<div class="row">
													<label for="#" class="col-md-4 control-label"> <strong>Notas</strong>
													</label>
													<div class="col-sm-8">
														<textarea tabindex="1" class="form-control"
															ng-model="facturaNotas"
															ng-class="{botonFocus: focusedNotas}"
															ng-init="focusedNotas = false"
															ng-focus="focusedNotas = true"
															ng-blur="focusedNotas = false"></textarea>
													</div>
												</div>
												<div class="row" style="margin-top: 5px;">
													<label for="#" class="col-md-4 control-label"> <strong>Busqueda de Producto</strong>
													</label>
													<div class="col-md-6">
														<input ng-class="{botonFocus: focusedBusqueda}"
															style="height:36px;"
															ng-init="focusedBusqueda = false"
															ng-focus="focusedBusqueda = true"
															ng-blur="focusedBusqueda = false" tabindex="2"
															type="text" class="form-control" id="busquedaProd"
															placeholder="Ingrese el articulo a buscar"
															ng-keypress="onKeyArticulo($event);"
															ng-model="articuloSeleccionadoBuscar" autofocus>
													</div>
													<div class="col-md-2">
														<button type="button" class="btn btn-block btn-danger" id="botonBorrarArticulos"
															data-toggle="modal"  tabindex="3" ng-click="borrarArticulosTodos()" ng-focus="clienteFocus()" >
															<i class="fa fa-trash"></i>
														</button>													
													</div>
												</div>
											</div>
										</div>

									</div>
									<div class="col-md-4"></div>
								</div>
									<div tabindex="4" ng-class="{facturaFocus: focusedFactura}" ng-focus="pruebaFocusFactura()"
									ag-grid="gridOptionsFactura" id="facturaGrid" class="ag-fresh"
									style="height: 400px; margin-top: 24px;"
									"></div>

							</div>
						</div>
					</div>
				</div>
				</panel>
			</div>
			<!-- CLIENTE -->
			<div class="col-xs-12 col-md-4">
				<panel data-heading="Totales" panel-class="panel-midnightblue"
					class="ng-isolate-scope">
				<div class="panel  panel-midnightblue">
					<!-- <div class="panel-heading">
						<h2 class="ng-binding">
							<!-- ngIf: panelIcon -->
							<!--Cliente
						<!--</h2>
					</div>-->
					<div class="panel-heading">
					</div>
					<div class="panel-body" >
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel  panel-primary ng-scope">
							<div class="panel-body" >
								<div class="row">
									<form action="" class="form-horizontal row-border2">
										<div class="form-group">
											<label class="col-md-2 control-label" style=" margin-left: 2px;"> <strong>Cliente</strong>
											</label>
											<div class="col-md-7">
												<input type="text" class="form-control" tabindex="5"
													placeholder="" ng-keypress=onKeyCliente($event)
													ng-model="clienteSeleccionadoRazon" id="busquedaCliente"
													ng-focus="clienteFocus()">
											</div>
											<div class="col-md-2">
												<button type="button" class="botonBuscar btn-block btn-primary"
													data-toggle="modal" data-target="#myModal" tabindex="-1">
													<i class="fa fa-search"></i>
												</button>
											</div>
										</div>
										<div class="form-group col-md-5">
											<label class="col-md-4 control-label" > <strong>Cuit</strong>
											</label>
											<div class="col-md-8">
												<span class="label label-default form-control" style="font-size: 13px;">{{clienteSeleccionadoCuit.substring(0,2)}}-{{clienteSeleccionadoCuit.substring(2,10)}}-{{clienteSeleccionadoCuit.substring(10,12)}}</span>
											</div>
										</div>
										<div class="form-group col-md-7">
											<label class="col-md-5 control-label"> <strong>Categoria IVA</strong>
											</label>
											<div class="col-md-7" style="margin-top: 2px;">
												<span class="label label-default control-label" style="font-size: 12px;">{{clienteSeleccionadoCategoria}}</span>
											</div>
										</div>
<!--
										<div class="form-group col-md-10">
														<div class="col-sm-6">
															<div class="input-group">
															  <span class="input-group-addon">
																<div class="icheckbox_minimal-blue checked" style="position: relative;">
																	<input icheck="" type="checkbox" style="position: absolute; opacity: 0;" ng-model="chkConsumidorFinal"
																		tabindex="-1" ng-change="seleccionConsumidorFinal()" />
																		<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
															  </span>
															  <label class="form-control control-label">Consumidor Final</label>
															</div>
														</div>
										</div>	-->									
										
										
										<div class="form-group  col-md-10" style="margin-left: -50px;">
											<label for="checkbox" class="col-sm-1 control-label" style="    margin-left: 7px;"></label>
											<div class="col-sm-10">
												<div class="block">
													<label class="checkbox-inline"> <input style="    width: 100%;    height: 100%;    margin: -4px 0 0;"
														type="checkbox" ng-model="chkConsumidorFinal"
														tabindex="6" ng-change="seleccionConsumidorFinal()"><strong>Consumidor Final</strong></input>
													</label>
												</div>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				</panel>
			</div>

			
			<div class="col-xs-12 col-md-4">
				<panel data-heading="Totales" panel-class="panel-midnightblue"
					class="ng-isolate-scope">
				<div class="panel  panel-midnightblue">
					<div class="panel-heading">
					</div>				
					<div class="panel-body"  >
						<div class="col-xs-4">
							<a class="info-tiles tiles-green"
								data="{ title: 'Sub Total',text: '6', color: 'midnightblue'}">
								<div class="tiles-heading">
									<div class="text-center ng-binding">Sub Total</div>
								</div>
								<div class="tiles-body" style="font-size: 12px;">
									<div class="text-center ng-binding">{{subTotal | currency:"$ "}}</div>
								</div>
							</a>
						</div>

						<div class="col-xs-4">
							<a class="info-tiles tiles-green"
								data="{ title: 'Iva Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}">
								<div class="tiles-heading">
									<div class="text-center ng-binding">Iva ({{ivaInscripto }}%)</div>
								</div>
								<div class="tiles-body" style="font-size: 12px;">
									<div class="text-center ng-binding">{{ivaInscriptoTotal | currency:"$ "}} </div>
								</div>
							</a>
						</div>

						<div class="col-xs-4">
							<a class="info-tiles tiles-primary"
								data="{ title: 'Total', href: '#/ui-tiles',text: '9', color: 'danger'}">
								<div class="tiles-heading" style="background: #37444e;">
									<div class="text-center ng-binding">Total</div>
								</div>
								<div class="tiles-body" style="font-size: 12px;background: #2c373f;
">
									<div class="text-center ng-binding">{{TotalFact | currency:"$ "}}</div>
								</div>
							</a>
						</div>

					</div>

				</div>
				</panel>
			</div>
			
			<div class="col-xs-12 col-md-4">
				<panel data-heading="Totales" panel-class="panel-midnightblue"
					class="ng-isolate-scope">
				<div class="panel  panel-midnightblue">
					<!--<div class="panel-heading">
						<h2 class="ng-binding">Forma de Pago</h2>
					</div>-->
					<div class="panel-heading">
					</div>
					<div class="panel-body" >
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel  panel-primary ng-scope">
							<div class="panel-body" >
								<div class="row">
									<form action="" class="form-horizontal row-border2">
										<!--<div class="form-group col-md-5"  >
											<label class="col-sm-4 control-label">Efectivo</label>
											<div class="col-sm-4">
												<div class="input-group">
													<span class="input-group-addon">$</span> <input
														tabindex="3" type="number" ng-disabled="subTotal==0"
														maxlength="10"
														class="form-control" ng-model="montoEfectivo"
														ng-change="changeEfectivo()"
														ng-class="{botonFocus: focusedEfectivo}"
														ng-init="focusedEfectivo = false"
														ng-focus="focusedEfectivo = true"
														ng-blur="focusedEfectivo = false" min="0" ng-min="0" />
												</div>
											</div>
										</div>-->
										<div class="form-group col-md-12">
											<label class="col-sm-2 control-label " ><strong>Efectivo</strong></label>
											<div class="col-sm-4">
												<div class="input-group resaltaBordeCampo">
													<span class="input-group-addon "><strong>$</strong></span> <input
														tabindex="7" type="number" ng-disabled="subTotal==0"
														maxlength="10"
														class="form-control" ng-model="montoEfectivo" 
														style="text-align:right;"
														step="any"
														ng-change="changeEfectivo()"
														ng-class="{botonFocus: focusedEfectivo}"
														ng-init="focusedEfectivo = false"
														ng-focus="focusedEfectivo = true"
														ng-blur="focusedEfectivo = false" min="0" ng-min="0" />
												</div>
											</div>
										</div>										
										<div class="form-group col-md-12">
											<label class="col-sm-2 control-label"><strong>Monto</strong></label>
											<div class="col-sm-4">
												<div class="input-group resaltaBordeCampo">
													<span class="input-group-addon "><strong>$</strong></span> <input type="text" 
														style="text-align:right;" disabled=true class="form-control" ng-model="montoTC">
												</div>
											</div>											
										</div>	
									
										
										<div class="form-group col-md-12">
											<label class="col-sm-2 control-label"><strong>Tarjeta</strong></label>
											<div class="col-sm-10">
												<div class="input-group col-md-10">
													<select  tabindex="8" class="form-control" 
															 id="source" ng-class="{botonFocus: focusedTarjeta}" 
															 ng-init="focusedTarjeta = false" ng-focus="focusedTarjeta = true" 
															 ng-blur="focusedTarjeta = false" ng-model="selectTarjetaCredito"  
															 ng-change="obtenerCuotasTarjeta()" ng-disabled="!montoTC>0" 
															 ng-options="item as item.nombre for item in tarjetasList " >
													</select> 
												</div>
											</div>
										</div>													
										<div class="form-group col-md-12">
											<label class="col-sm-2 control-label"><strong>Cuotas</strong></label>
											<div class="col-sm-10">
												<div class="input-group col-md-10">
													<select ng-class="{botonFocus: focusedCuotas}"
														ng-init="focusedCuotas = false"
														ng-focus="focusedCuotas = true"
														ng-blur="focusedCuotas = false" tabindex="9"
														ng-disabled="selectTarjetaCredito==0 || selectTarjetaCredito==undefined || !montoTC>0"
														ng-model="cuotaSeleccionada"
														ng-init="cuotaSeleccionada = cuotas[1]"
														ng-change="cuotaChange()" class="form-control"
														ng-options="cuota.descripcion  for cuota in cuotas track by cuota.coeficiente"></select>
												</div>
											</div>
										</div>	
										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label"><strong>Recargo</strong></label>
											<div class="col-sm-8" style="left: 3px;">
												<div class="input-group">
													<span class="input-group-addon">{{recargoTC}}</span>
												</div>
											</div>
										</div>										
										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label" alt=" Monto Final con Tarjeta de Credito"><strong>Total TC</strong></label>
											<div class="col-sm-8">
												<div class="input-group">
													<span class="input-group-addon" style="text-align:right;" alt=" Monto Final con Tarjeta de Credito">{{interesTC}}</span>
												</div>
											</div>
										</div>		

										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label"><strong>Nombre</strong></label>
											<div class="col-sm-8" style="left: 3px;">
												<div class="input-group">
													<input ng-disabled="checkClient()"
														tabindex="10" type="text" maxlength="19"
														class="form-control" ng-model="nombreConsumidorFinal">
												</div>
											</div>
										</div>										
										<div class="form-group col-md-6">
											<label class="col-sm-4 control-label"><strong>DNI</strong></label>
											<div class="col-sm-8">
												<div class="input-group">
													<input ng-disabled="checkClient()"
														tabindex="11" type="text" maxlength="19"
														class="form-control" ng-model="documentoConsumidorFinal">
												</div>
											</div>
										</div>		

										<div class="form-group col-md-12">
											<label class="col-sm-2 control-label"><strong>Cupon</strong></label>
											<div class="col-sm-10">
												<div class="input-group">
													<input ng-class="{botonFocus: focusedCupon}"
														ng-init="focusedCupon = false"
														ng-focus="focusedCupon = true"
														ng-blur="focusedCupon = false" 
														tabindex="12" type="text" maxlength="19"
														class="form-control" ng-model="cuponTC" ng-disabled="cuotaSeleccionada==undefined">
												</div>
											</div>
										</div>
											

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				</panel>
			</div>


			<!-- GUARDAR FACTURA -->
			<div class="col-xs-12 col-md-4">
				<panel data-heading="Totales" panel-class="panel-midnightblue"
					class="ng-isolate-scope">
				<div class="panel  panel-midnightblue">
					<div class="panel-heading">
					</div>				
					<div class=" panel-body ">
						<button ng-class="{botonFocus: focused}" ng-init="focused = false"
							ng-focus="focused = true" ng-blur="focused = false" tabindex="13"
							class="btn btn-primary pull-right" ng-click="guardarFactura()"
							ng-disabled="estaDeshabilitado()"
							style="margin: 0px 30px 5px 0px !important;">Guardar
							Factura</button>
					</div>
				</div>
				</panel>
			</div>




		</div>
	</div>
	<script type="text/ng-template" id="modalBuscadorCliente.html">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-header" style="margin-top: -30px;">
						<h4 class="modal-title" id="myModalLabel">Busqueda de Clientes</h4>
					</div>

					<div class="modal-content">
						<div class="col-xs-12 col-md-12" style="background-color: #EBEEF0">
						<div class="container-fluid" style="margin-top: 20px;" >

							<div class="row" style="background-color: #EBEEF0" >
								<div class="col-xs-12 col-md-3">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group" >
												<label class="col-md-3 control-label">
													<strong>Codigo:</strong>
												</label>
												<div class="col-md-9">
													<input tabindex="30" type="text" class="form-control" placeholder="" ng-model="dataCliente.codigoCliente" ng-keypress="busquedaCliente()"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-4">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-4 control-label">
													<strong>Numero Cuit:</strong>
												</label>
												<div class="col-md-8">
													<input tabindex="32" type="text" class="form-control" placeholder="" ng-model="dataCliente.cuit" ng-keypress="busquedaCliente()" id="numeroCuit"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-4">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-4 control-label">
													<strong>Razon Social:</strong>
												</label>
												<div class="col-md-8">
													<input tabindex="31" type="text" class="form-control" placeholder="" ng-model="dataCliente.razonSocial" ng-keypress="busquedaCliente()"></div>
											</div>
										</form>
									</div>
								</div>

								<div class="col-xs-12 col-md-1">
									<div class="form-group">
										<label class="col-md-3 control-label">
										</label>
										<div class="col-md-9">
											<button  tabindex="33" type="button" class="botonBuscar btn-block btn-primary" style="    margin-top: -12px;"	>
											<i class="fa fa-search"></i>
										</button>
									</div>										
								</div>
		
							</div>
							
							

							</div>
							</div>
							<div class="row2" style="margin-top:20px;">
								<div class="table-responsive">
									<div tabindex="34" 
											ag-grid="gridOptionsCliente"
											class="ag-fresh" style="height: 400px;" ng-keypress="seleccionClienteCambiada()" id="clientesGrid"  ng-class="{facturaFocus: focusedClientes}" ng-focus="onClienteFocus()"">
									</div>

								</div>
							</div>
						</div>
						<div class="modal-footer">

						</div>
					</div>
				</div>



    	    

	</script>
	<script type="text/ng-template" id="modalBuscadorArticulo.html">
				<div class="modal-dialog modal-lg" role="document">
						<div class="modal-header" style="margin-top: -30px;">
							<h4 class="modal-title" id="myModalLabel" >Busqueda de Articulos</h4>
						</div>						

					<div class="modal-content">
						<div class="col-xs-12 col-md-12" style="
    background-color: #EBEEF0;
">
						  <div class="container-fluid" >
							<div class="row"  style="margin-top: 10px;background-color: #EBEEF0;" >
								<div class="col-xs-12 col-md-2">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-7 control-label"  style="margin-top: -7px;" >
													<strong>Codigo de Proveedores:</strong>
												</label>
												<div class="col-md-5">
													<input  ng-keypress="externalFilterChanged()" tabindex="14" type="text" class="form-control" placeholder="" ng-model="data.codigo1" id="cc1"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>CC2:</strong>
												</label>
												<div class="col-md-7">
													<input  ng-keypress="externalFilterChanged()" tabindex="15" type="text" class="form-control" placeholder="codigo" ng-model="data.codigo2"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>CC3:</strong>
												</label>
												<div class="col-md-7">
													<input ng-keypress="externalFilterChanged()" tabindex="16" type="text" class="form-control" placeholder="codigo" ng-model="data.codigo3"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>Articulo:</strong>
												</label>
												<div class="col-md-7">
													<input ng-focus="lostGridProductosFocus()" ng-keypress="externalFilterChanged()" tabindex="17" id="busquedaArticulo" type="text" class="form-control" placeholder="" ng-model="data.articulo"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-1">
										<button  tabindex="29" type="button" class="botonBuscar btn-block btn-primary"
											ng-click="externalFilterChanged()">
											<i class="fa fa-search"></i>
										</button>
								</div>


							</div>
						  </div>
							<div class="row2">
								<div class="table-responsive">
									<div tabindex="18" 
											ag-grid="gridOptionsProductos" id="productoGrid" ng-keypress="onKeySelectArticulo()" ng-class="{facturaFocus: focusedProductos}" ng-focus="pruebaFocusProductos()" ng-blur="lostFocusSpecial()"
											class="ag-fresh" style="height: 400px; ">
									</div>
								</div>
							</div>
						  
						</div>
						<div class="modal-footer">
							
						</div>
					</div>
				</div>
	</script>
	<script type="text/ng-template" id="modalFacturaGenerada.html">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
						
							<h4 class="modal-title" id="myModalLabel">Factura Generada! {{numeroFactura}}</h4>
						</div>						
						
						<div class="modal-footer">
							
						</div>
					</div>
				</div>
	</script>
</div>