<div ng-controller="FacturaController">


	<div id="page-heading">
		<h1>Facturación</h1>
		<div class="options">
			<div class="btn-toolbar">
				<div class="btn-group" dropdown>
					<button type="button" class="btn btn-default dropdown-toggle"
						dropdown-toggle>
						Export as <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div>
				<a href="#" class="btn btn-default hidden-xs"> <i
					class="glyphicon glyphicon-cog"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<panel data-heading="Factura" panel-class="panel-midnightblue">
				<div class="panel panel-midnightblue">
					<div class="panel-heading">
						<h2 class="ng-binding">
							<!-- ngIf: panelIcon -->
							Factura
						</h2>
						<div class="panel-ctrls">
							<panel-control-collapse>
							<button class="button-icon">
								<i class="glyphicon glyphicon-minus"></i>
							</button>
							</panel-control-collapse>
							<button class="button-icon">
								<i class="glyphicon glyphicon-cog"></i>
							</button>
							<button class="button-icon">
								<i class="glyphicon glyphicon-wrench"></i>
							</button>
						</div>
					</div>
					<div class="panel-body" ng-transclude="">
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel panel-primary ng-scope">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-2">
						                <a class="info-tiles tiles-midnightblue" data="{ title: 'Iva Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}" >
										    <div class="tiles-heading">
										        <div class="text-center ng-binding">Factura</div>
										    </div>
										    <div class="tiles-body" >
										        <div class="text-center ng-binding" >{{tipoFactura}}</div>
										    </div>
										</a>
										<div class="pull-right text-center"><span class="badge ng-binding">00000000000016</span></div>										
					                </div>										
								
									<div class="col-md-8">
										<div class="form-horizontal row-border ng-scope">
											<div class="form-group">
												<label for="#" class="col-md-2 control-label"
													style="text-align: left !important;"> <strong>Fecha:</strong>
												</label>
												<div class="col-md-10">
													<div class="input-group">{{fechaFactura |
														date:'dd-MM-yyyy'}}</div>
												</div>
											</div>
										</div>
										<div class="row">
											<span class="col-md-2"> <strong>Notas:</strong>
											</span>
											<div class="col-sm-12">
												<textarea class="form-control"></textarea>
											</div>											
										</div>
										<div class="row">
											<span class="col-md-2"> <strong>Producto:</strong>
											</span>
											<div class="col-md-7">
												<input type="text" class="form-control"
													placeholder="Placeholder" ng-keypress="onKeyArticulo()"
													ng-model="articuloSeleccionadoBuscar">
											</div>

										</div>
									</div>
									<div class="col-md-4"></div>
								</div>
								<div tabindex="0" ng-focus=pruebaFocusFactura()
									ag-grid="gridOptionsFactura" id="facturaGrid" class="ag-fresh"
									style="height: 400px; margin-top: 24px;"></div>

							</div>
						</div>
					</div>
				</div>
				</panel>
			</div>
			<div class="col-xs-12 col-md-4">
				<panel data-heading="Totales" panel-class="panel-midnightblue"
					class="ng-isolate-scope">
				<div class="panel panel-midnightblue">
					<div class="panel-heading">
						<h2 class="ng-binding">
							<!-- ngIf: panelIcon -->
							Totales
						</h2>
						<div class="panel-ctrls">
							<panel-control-collapse>
							<button class="button-icon">
								<i class="glyphicon glyphicon-minus"></i>
							</button>
							</panel-control-collapse>
							<button class="button-icon">
								<i class="glyphicon glyphicon-cog"></i>
							</button>
							<button class="button-icon">
								<i class="glyphicon glyphicon-wrench"></i>
							</button>
						</div>
					</div>
					<div class="panel-body" ng-transclude="">
						<panel-controls class="ng-scope"> </panel-controls>
						<div class="panel panel-primary ng-scope">
							<div class="panel-body">
								<div class="row">
									<form action=""
										class="form-horizontal row-border2 ng-pristine ng-valid">
								
										<div class="col-xs-3">
							                <a class="info-tiles tiles-green" data="{ title: 'Sub Total',text: '6', color: 'midnightblue'}" >
											    <div class="tiles-heading">
											        <div class="text-center ng-binding">Sub Total</div>
											    </div>
											    <div class="tiles-body" style="font-size: 12px;">
											        <div class="text-center ng-binding">$ {{subTotal}}</div>
											    </div>
											</a>
						                </div>				

										<div class="col-xs-3">
							                <a class="info-tiles tiles-green" data="{ title: 'Iva Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}" >
											    <div class="tiles-heading">
											        <div class="text-center ng-binding">Iva Inscripto</div>
											    </div>
											    <div class="tiles-body" style="font-size: 12px;">
											        <div class="text-center ng-binding" >$ {{ivaInscripto}}</div>
											    </div>
											</a>
						                </div>				

										<div class="col-xs-3">
							                <a class="info-tiles tiles-green" data="{ title: 'Iva No Inscripto', href: '#/ui-tiles',text: '9', color: 'midnightblue'}" >
											    <div class="tiles-heading">
											        <div class="text-center ng-binding">Iva No Inscripto</div>
											    </div>
											    <div class="tiles-body" style="font-size: 12px;">
											        <div class="text-center ng-binding" >$ {{ivaNoInscripto}}</div>
											    </div>
											</a>
						                </div>				

										<div class="col-xs-3">
							                <a class="info-tiles tiles-primary" data="{ title: 'Total', href: '#/ui-tiles',text: '9', color: 'danger'}" >
											    <div class="tiles-heading">
											        <div class="text-center ng-binding">Total</div>
											    </div>
											    <div class="tiles-body" style="font-size: 12px;">
											        <div class="text-center ng-binding" >$ {{TotalFact}}</div>
											    </div>
											</a>
						                </div>				

										
<!-- 										<div class="form-group"> -->
<!-- 											<label class="col-md-5 control-label"> <strong>Subtotal:</strong> -->
<!-- 											</label> -->
<!-- 											<div class="col-md-7"> -->
<!-- 												<input type="text" class="form-control" -->
<!-- 													placeholder="Placeholder"> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 										<div class="form-group"> -->
<!-- 											<label class="col-md-5 control-label"> <strong>Iva -->
<!-- 													Inscripto:</strong> -->
<!-- 											</label> -->
<!-- 											<div class="col-md-7"> -->
<!-- 												<input type="text" class="form-control" -->
<!-- 													placeholder="Placeholder"> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 										<div class="form-group"> -->
<!-- 											<label class="col-md-5 control-label"> <strong>Iva -->
<!-- 													No Inscripto:</strong> -->
<!-- 											</label> -->
<!-- 											<div class="col-md-7"> -->
<!-- 												<input type="text" class="form-control" -->
<!-- 													placeholder="Placeholder"> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 										<div class="form-group"> -->
<!-- 											<label class="col-md-5 control-label"> <strong>Total:</strong> -->
<!-- 											</label> -->
<!-- 											<div class="col-md-7"> -->
<!-- 												<input type="text" class="form-control" -->
<!-- 													placeholder="Placeholder"> -->
<!-- 											</div> -->
<!-- 										</div> -->
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				</panel>

				<!-- Modal -->
				<div class="modal fade " id="myModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Busqueda de Clientes</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-xs-12 col-md-5">
										<div class="row2">
											<form action=""
												class="form-horizontal row-border2 ng-pristine ng-valid">
												<div class="form-group">
													<label class="col-md-3 control-label"> <strong>CUIT:</strong>
													</label>
													<div class="col-md-9">
														<input type="text" class="form-control"
															placeholder="Placeholder">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="col-xs-12 col-md-5">
										<div class="row2">
											<form action=""
												class="form-horizontal row-border2 ng-pristine ng-valid">
												<div class="form-group">
													<label class="col-md-3 control-label"> <strong>Razón
															Social:</strong>
													</label>
													<div class="col-md-9">
														<input type="text" class="form-control"
															placeholder="Placeholder">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="col-xs-12 col-md-2">
										<div class="row2">
											<button class="btn btn-block" type="button">
												<i class="fa fa-search"></i> <span class="">Buscar</span>
											</button>
										</div>
									</div>
								</div>
								<div class="row2">
									<div class="table-responsive">
										<table class="table table-bordered table-striped table-hover">
											<thead>
												<tr>
													<th>CUIT</th>
													<th>Razón Social</th>
													<th>Condición de IVA</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td>0</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>0</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>0</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>0</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>0</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>0</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>0</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>0</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td>0</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cerrar</button>
								<button type="button" class="btn btn-primary">Guardar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<panel data-heading="Cliente" panel-class="panel-midnightblue">
			<panel-controls> <panel-control-collapse></panel-control-collapse>
			<button class="button-icon">
				<i class="glyphicon glyphicon-cog"></i>
			</button>
			<button class="button-icon">
				<i class="glyphicon glyphicon-wrench"></i>
			</button>
			</panel-controls>
			<div class="panel panel-primary">
				<div class="panel-body">
					<div class="col-xs-12 col-md-4">
						<div class="row">
							<form action="" class="form-horizontal row-border2">
								<div class="form-group">
									<label class="col-md-2 control-label"> <strong>Cliente:</strong>
									</label>
									<div class="col-md-7">
										<input type="text" class="form-control"
											placeholder="Placeholder" ng-keypress=onKeyCliente()
											ng-model="clienteSeleccionadoRazon">
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-block btn-primary"
											data-toggle="modal" data-target="#myModal">
											<i class="fa fa-search"></i>
										</button>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label"> <strong>CUIT:</strong>
									</label>
									<div class="col-md-9">
										<input type="text" class="form-control"
											placeholder="Placeholder">
									</div>
								</div>
								<div class="form-group">
									<label for="checkbox" class="col-sm-2 control-label"></label>
									<div class="col-sm-9">
										<div class="checkbox block">
											<label class="checkbox-inline"> <input icheck
												type="checkbox" checked>Consumidor Final
											</label>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-xs-12 col-md-8">
						<div class="row">
							<div class="table-responsive">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>Forma de pago</th>
											<th>Nro Tarjeta</th>
											<th>Cuotas</th>
											<th>Cupon</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>Efectivo</strong></td>
											<td></td>
											<td>3</td>
											<td>$7.45</td>
											<td>$150</td>
										</tr>
										<tr>
											<td><strong>Visa</strong></td>
											<td></td>
											<td>3</td>
											<td>$7.45</td>
											<td>$150</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			</panel>
		</div>
	</div>
	<script type="text/ng-template" id="modalBuscadorCliente.html">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Busqueda de Clientes</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12 col-md-5">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-3 control-label">
													<strong>CODIGO:</strong>
												</label>
												<div class="col-md-9">
													<input type="text" class="form-control" placeholder="Placeholder" ng-model="codigoCliente"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-5">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-3 control-label">
													<strong>Razón Social:</strong>
												</label>
												<div class="col-md-9">
													<input type="text" class="form-control" placeholder="Placeholder" ng-model="razonSocial"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="row2">
										<!-- <button class="btn btn-block" type="button" ng-click="busquedaCliente()" > -->
										<button class="btn btn-block" type="button" ng-click="busquedaCliente()" >
											<i class="fa fa-search"></i>
											<span class="">Buscar</span>
										</button>
									</div>
								</div>
							</div>
							<div class="row2">
								<div class="table-responsive">
									<table class="table table-bordered table-striped table-hover">
										<thead>
											<tr>
												<th>CUIT</th>
												<th>Razón Social</th>
												<th>Condición de IVA</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td></td>
												<td></td>
												<td>0</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td>0</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td>0</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td>0</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td>0</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td>0</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td>0</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td>0</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td>0</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							<button type="button" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>



    	    <div tabindex="2" ag-grid="gridOptionsCliente" class="ag-fresh" style="height:400px;width: 50%;"></div>

</script>
	<script type="text/ng-template" id="modalBuscadorArticulo.html">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Busqueda de Clientes</h4>
						</div>



<div class="row">
     
        <label style="padding-left: 5px;">
            <input type="text" value="below30" ng-model="codigo1" /> Codigo 1
        </label>
        <label style="padding-left: 5px;">
            <input type="text" value="between30and50" ng-model="codigo2" /> Codigo 2
        <label style="padding-left: 5px;">
            <input type="text" value="above50" ng-model="codigo3" /> Codigo 3
        </label>
        <label style="padding-left: 5px;">
            <input type="text" value="above50" ng-model="articulo" /> Descripcion
        </label>
        <label style="padding-left: 5px;">
            <input type="button" value="Buscar"  ng-click="externalFilterChanged()"/>
        </label>
    </div>

						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12 col-md-3">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>CC1:</strong>
												</label>
												<div class="col-md-7">
													<input type="text" class="form-control" placeholder="Placeholder" ng-model="codigoCliente"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>CC2:</strong>
												</label>
												<div class="col-md-7">
													<input type="text" class="form-control" placeholder="Placeholder" ng-model="codigoCliente"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>CC3:</strong>
												</label>
												<div class="col-md-7">
													<input type="text" class="form-control" placeholder="Placeholder" ng-model="codigoCliente"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-5 control-label">
													<strong>Articulo:</strong>
												</label>
												<div class="col-md-7">
													<input type="text" class="form-control" placeholder="Placeholder" ng-model="articuloSeleccionadoBuscar"></div>
											</div>
										</form>
									</div>
								</div>












								<div class="col-xs-12 col-md-5">
									<div class="row2">
										<form action="" class="form-horizontal row-border2 ng-pristine ng-valid">
											<div class="form-group">
												<label class="col-md-3 control-label">
													<strong>Razón Social:</strong>
												</label>
												<div class="col-md-9">
													<input type="text" class="form-control" placeholder="Placeholder" ng-model="razonSocial"></div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="row2">
										<!-- <button class="btn btn-block" type="button" ng-click="busquedaCliente()" > -->
										<button class="btn btn-block" type="button" ng-click="busquedaCliente()" >
											<i class="fa fa-search"></i>
											<span class="">Buscar</span>
										</button>
									</div>
								</div>
							</div>
							<div class="row2">
								<div class="table-responsive">
									<div tabindex="0" ng-focus=pruebaFocusProductos()
											ag-grid="gridOptionsProductos" id="productoGrid" ng-keypress="onKeySelectArticulo()"
											class="ag-fresh" style="height: 400px; ">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							<button type="button" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>




</script>